header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}



.nav-wolf {
	margin-top: 20%; 
	margin-left: 10px;
	position:fixed; 
	border-radius:15px;
	background-color: rgba(255,255,255,0.6);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	z-index: 10;
	width: 70px;
}

.nav-wolf a {
	height: 60px;
}


.dock-wolf span {	
	display: none;

}

.logo-wolf {
	display: none;
}
	
.over-wolf a {
	width: 170px;
	
}

.over-wolf a span {
}


.item-wolf {
	width: 50px;
}


.vh-100 {
    min-height: 100vh;
}

.st-event-actionContainer {
	z-index: 9999;
	position: fixed;
	display: inline-block;
}

.right-bottom {
	bottom: 2em;
	right: 2em;
	float: right !important;
}

.left-bottom {
	bottom: 2em;
	left: 2em;
	float: left !important;
}

div.st-event-actionContainer li{
	list-event-style: none;
}

.st-event-panel{
	width: auto;
	margin-bottom: 10%;	
	border-radius:15px;
	background-color: rgba(255,255,255, 0.6);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	display: none;
}




.st-event-panel-contents{
	padding: 15px;
}

.st-event-button-main{
	color:#ffffff;
	font-size:24px;
	text-align:center;
	line-height:60px;
	cursor:pointer;
	height: 100%;
	width: 100%;
	display: table;
}

.st-event-button-main > i{
	display: table-cell;
	vertical-align: middle;
}

.st-event-btn-container{
	width:60px;
	height:60px;
	border-radius:100%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.st-menu-modal{
	width:100%; 
	height:100%; 
	background: rgba(0,0,0,.4);
	position:fixed;
	top:0;
	left:0;
	display:none;
	z-index: 999;
}


.rotateForward{
    animation-name:             rotateF;
    animation-duration:         0.65s;
    animation-iteration-count:  1;

}

@keyframes rotateF {
  from {
            transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
  }
  to {
            transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
  }
}

.rotateBackward{
    animation-name:             rotateB;
    animation-duration:         0.65s;
    animation-iteration-count:  1;

}

@keyframes rotateB {
  from {
            transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
  }
  to {
            transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
  }
}

/*option grid in panel*/

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.gridChild {
	flex: 0 0 33.33%;
	height: 50px;
	background-color: #999;
	text-align:center;
	text-decoration: none;
	color: white;
	line-height:50px;
}

.gridChild:hover {
	background-color: #eee;
	color: black;
}


.select-wolf {
	list-style-type:none;
}

.select-wolf li {
	margin-right: 20px;
}


