{% extends "base2.html" %}
{% block content %}

	{% include "snippets/s_header_video.html" %}
 <section data-snippet-id="title">
                                <h1 class="text-center mt-4">
                                    Política de privacidad
                                </h1>
                            </section>
                        </div>
                        <div class="oe_structure">
                            <section class="s_text_block">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 mb16 mt16">
                                            <p>
                                                <span data-oe-model="res.company" data-oe-id="1" data-oe-field="name" data-oe-type="char" data-oe-expression="res_company.name">Lydia Villicaña</span>
                                                 opera
                                                <span data-oe-model="res.company" data-oe-id="1" data-oe-field="website" data-oe-type="char" data-oe-expression="res_company.website">https://www.grupotorreblanca.com.mx</span>
                                                la "pagina". Esta página le informa de nuestras políticas en cuanto a la
                  recolección, uso y revelación
                  de la Información personal que recibimos de los usuarios del Sitio.
                                            </p>
                                            <p data-oe-model="ir.ui.view" data-oe-id="1354" data-oe-field="arch" data-oe-xpath="/t[1]/t[1]/div[1]/div[2]/section[1]/div[1]/div[1]/div[1]/p[2]">
                                                Usamos su Informacion Personal solamente para proporcionar y mejorar el sitio. Al utilizar el Sitio, usted acepta la recopilación y uso de información de acuerdo con esta política.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="oe_structure" data-oe-model="ir.ui.view" data-oe-id="1354" data-oe-field="arch" data-oe-xpath="/t[1]/t[1]/div[1]/div[3]">
                            <section class="s_text_block">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 mb16 mt16">
                                            <h2>Infomación acerca de la recopilación y uso de datos</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 mb16 mt16">
                                            <p>
                                                Durante el uso de nuestro sitio podremos pedirle que nos proporcione cierta información que puede ser usada para contactar o identificarle. La información podria incluir, pero no está limitada a su nombre (Información Personal).
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="oe_structure" data-oe-model="ir.ui.view" data-oe-id="1354" data-oe-field="arch" data-oe-xpath="/t[1]/t[1]/div[1]/div[4]">
                            <section class="s_text_block">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 mb16 mt16">
                                            <h2>Registrar Datos</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 mb16 mt16">
                                            <p>
                                                Como muchos otros operadores, coleccionamos la información que su navegador envía
                  siempre que visita nuestro
                  Sitio web ("Datos del Usuario"). Estos Datos del Usuario pueden incluir información como
                  la dirección de Internet
                  desde la que accede al sitio ("IP"), tipo de navegador, versión del navegador, las páginas de
                  nuestro sitio web que visita, el
                  tiempo y la fecha de su visita, el tiempo pasado en aquellas páginas y otras estadísticas.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="oe_structure" data-oe-model="ir.ui.view" data-oe-id="1354" data-oe-field="arch" data-oe-xpath="/t[1]/t[1]/div[1]/div[5]">
                            <section class="s_text_block">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 mb16 mt16">
                                            <h2>Cookies</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 mb16 mt16">
                                            <p>
                                                Las cookies son archivos con una pequeña cantidad de datos que pueden incluir un
                  identificador único anónimo.
                  Las cookies son enviadas a su navegador por un sitio web y almacenadas en
                  el disco duro de su ordenador.
                                            </p>
                                            <p>
                                                Como en muchos sitios web, usamos cookies para recabar cierta información. Puede
                  configurar su navegador para rechazar
                  todas las cookies o indicar cuándo una cookie está siendo enviada. Sin embargo, si
                  no acepta cookies, podría
                  no ser capaz de usar algunas partes de nuestro sitio web.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="oe_structure" data-oe-model="ir.ui.view" data-oe-id="1354" data-oe-field="arch" data-oe-xpath="/t[1]/t[1]/div[1]/div[6]">
                            <section class="s_text_block">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 mb16 mt16">
                                            <h2>Seguridad</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 mb16 mt16">
                                            <p>
                                                La seguridad de su Información personal es importante para nosotros, pero
                                                recuerde que ningún método de la
                                                transmisión en Internet o método de almacenaje electrónico, es 100%
                                                seguro. Aunque nos esforzamos por
                                                utilizar medios comercialmente aceptables para proteger su información personal, 
                                                no podemos garantizar que sea absolutamente seguridad.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="oe_structure" data-oe-model="ir.ui.view" data-oe-id="1354" data-oe-field="arch" data-oe-xpath="/t[1]/t[1]/div[1]/div[7]">
                            <section class="s_text_block">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 mb16 mt16">
                                            <h2>Cambios en la Política de Privacidad</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 mb16 mt16">
                                            <p>Podemos actualizar cambios en esta Política de privacidad de vez en cuando. Le notificaremos cualquier cambio fijando la nueva Política de privacidad en el Sitio. Le aconsejamos examinar esta Política de privacidad periódicamente para cualquier cambio.

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>
	{% include "snippets/s_whatsapp.html" %}
	

{% endblock %}

{% block footer %}
	{% include "footer.html" %}
{% endblock %}