<section class="mt-5" id="presentacion">
<div class="container mt-4">
<h2 class="text-center" data-animation="zoomIn">Reflexione un momento sobre su futuro</h2>
<p class="text-center">Nosotros podemos ayudarte.</p>		
	<div class="row text-center mt-8" >
      <div class="col-12 col-sm-6 col-lg-4" >
        <img class="bd-placeholder-img rounded-circle" width="140" height="140"  src="static/img/apreton_de_manos.jpg" />
       
        <p class="mt-4" >Ofrecemos estratégias y soluciones integrales de acuerdo a tus necesidades financieras </p>
        </div>
      <div class="col-12 col-sm-6 col-lg-4" >
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="static/img/videochat.jpg" />
     
        <p class="mt-4">Durante la jornada de sana distancia te asesoramos  por videoconferencia móvil y whatsapp con el mísmo indice de calidad.</p>
       
      </div>
      <div class="col-12 col-sm-6 col-lg-4" >
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="static/img/familia.jpg" />
       
        <p class="mt-4">Trabajamos bajo un análisis de necesidad para encontrar fortalezas y debilidades financieras apoyandote a darle tratamiento y certidumbre a tu bienestar familiar y patrimonial.</p>
      </div>    

    </div>

</div>
</section >