<section class="mt-5" id="presentacion">
<div class="container mt-4">
<h2 class="text-center" data-animation="zoomIn">Reflexione un momento sobre su futuro</h2>
<p class="text-center">Nosotros podemos ayudarte.</p>		
	<div class="row text-center mt-8" >
      <div class="col-12 col-sm-6 col-lg-4" >
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
       
        <p class="mt-4">Ofrecemos soluciones integrales en Seguros, Trabajamos con Prudential empresa de Seguros de 1° nivel. Rapida resolucion de siniestros, ademas de estar con los mejores Broker del pais, dandole al cliente Seguridad, honestidad y atencion personalizada..</p>
      </div>
      <div class="col-12 col-sm-6 col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="static/img/videochat.jpg" />
     
        <p class="mt-4">Durante la <strong>Jornada Nacional de Sana Distancia</strong> podemos atenderte por videoconferencia, teléfono o WhatsApp con la misma calidad y servicio que en persona.</p>
       
      </div>
      <div class="col-12 col-sm-6 col-lg-4" >
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
       
        <p class="mt-4">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        
      </div>    

   
  
    </div>

</div>
</section >