
    <section id="contacto">
    	<div class="container  my-5">
    			<h2 class="text-center" data-animation="zoomIn">Quiero saber mas</h2>
    			<h4 class="text-center" >Te ofresco platicar sobre protección financiera para tí y tu familia.</h4>
    			<p class="text-center mb-4"><strong>Cuidando tu salud</strong> puedo darte una asesoría por videollamada o teléfono.</p>
    		<div class="row">
    			<div class="col-12 col-lg-8" data-animation="slideInLeft">
    			 <form action="{{url_for('gracias')}}" method="post"   >
    			 	 {{ form.csrf }}
    				 <div class="form-row">
    				 	   <div class="form-group col-md-6">
    				 	   		{{ form.name.label }}
    				 	   		  {{ form.name(class_="form-control") }}
						            {% for error in form.name.errors %}
						            <div class="badge badge-danger">{{ error }}</div>
						            {% endfor %}
    				 	   </div>
    				 	   <div class="form-group col-md-6">
    				 	   		{{ form.email.label }}
    				 	   		  {{ form.email(class_="form-control") }}
						            {% for error in form.email.errors %}
						            <div class="badge badge-danger">{{ error }}</div>
						            {% endfor %}
    				 	   </div>
    				 </div>
    				 <div class="form-row">
    				 	   <div class="form-group col-md-6">
    				 	   		{{ form.phone.label }}
    				 	   		  {{ form.phone(class_="form-control") }}
						            {% for error in form.phone.errors %}
						            <div class="badge badge-danger">{{ error }}</div>
						            {% endfor %}
    				 	   </div>
    				 	   <div class="form-group col-md-6"> 
    				 	   		{{ form.subject.label }}  				 	   		
    				 	   		  {{ form.subject(class_="form-control") }}
						            {% for error in form.subject.errors %}
						            <div class="badge badge-danger">{{ error }}</div>
						            {% endfor %}
    				 	   </div>
    				 </div>
    				 <div class="form-row">
    				 	   		{{ form.message.label}}
    				 	 {{ form.message(class_="form-control") }}
						            {% for error in form.message.errors %}
						            <div class="badge badge-danger">{{ error }}</div>
						            {% endfor %}
    				 </div>
    				 <div class="form-row mt-4">    				 	
    				 	{{form.utm_campaign}}
    				 	{{form.utm_source}}
    				 	{{form.utm_medium}}
    				 	{{form.utm_content}}
    				 	{{form.utm_term}}
    				 	{{ form.submit(class_="btn btn-primary") }}
    				 </div>
    			</form>
    			</div>
    			<div class="col-12 col-lg-4"  data-animation="slideInRight">
    				<div class="media">
    					<span class="mr-3" ><i class="text-info fas fa-2x fa-map-marker-alt"></i></span>
    					  <div class="media-body">
    					  	 <h5 class="mt-0">Dirección</h5>
    					  	 <address>
							  Zona rosa circuito historiadores<br>
							  Ciudad Satélite<br>
							  Naucalpan de Juárez, Edo. de México<br>
							  C. P. 53100
							</address>
    					  </div>
    				</div>    				
    				<div class="media mt-4">
    					<span class="mr-3" ><i class="text-info fas fa-2x fa-envelope"></i></span>
    					  <div class="media-body">
    					  	 <h5 class="mt-0">Correo</h5>
    					  	 <a href="mailto:lyvilli@grupotorreblanca.com"><span>lyvilli@grupotorreblanca.com</span></a>
    					  </div>
    				</div>    				
    				<div class="media mt-4">
    					<span class="mr-3" ><i class="text-info fas fa-2x fa-mobile-alt"></i></span>
    					  <div class="media-body">
    					  	 <h5 class="mt-0">Teléfono</h5>
    					  	 <a href="tel:15568018701"><span>55 6801 8701</span></a>
    					  </div>
    				</div>    				
    				<div class="media mt-4">
    					<span class="mr-3" ><i class="text-info fas fa-2x fa-address-card"></i></span>
    					  <div class="media-body">
    					  	 <h5 class="mt-0">vCard</h5>
    					  	 <a href="static/media/LydiaVillicaña.vcf"><span>Descargar</span></a>
    					  </div>
    				</div>
    			
    			</div>
    		
    		</div>
    	</div>
    </section>