
    <section id="contacto" style="background-color:#cce5ff;">
    	<div class="container  py-4">
    			<h2 class="text-center" data-animation="zoomIn">Quiero saber mas</h2>
    			<h4 class="text-center" >Te ofresco platicar sobre protección financiera para tí y tu familia.</h4>
    			<p class="text-center mb-4"><strong>Cuidando tu salud</strong> puedo darte una asesoría por videollamada o teléfono.</p>
    		<div class="row">
    			<div class="col-12 col-lg-8" data-animation="slideInLeft">
    			 <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
				<script>
				  hbspt.forms.create({
				 portalId: "7646412",
				 formId: "1945077f-8141-42a8-9133-5ee44ed4c0f4"
				});
				</script>
    			</div>
    			<div class="col-12 col-lg-4"  data-animation="slideInRight">
    				<div class="media">
    					<span class="mr-3" ><i class="hs fas fa-2x fa-map-marker-alt"></i></span>
    					  <div class="media-body">
    					  	 <h5 class="mt-0">Dirección</h5>
    					  	 <address>
							  Zona rosa circuito historiadores<br>
							  Ciudad Satélite<br>
							  Naucalpan de Juárez, Edo. de México<br>
							  C. P. 53100
							</address>
    					  </div>
    				</div>    				
    				<div class="media mt-4">
    					<span class="mr-3" ><i class="hs fas fa-2x fa-envelope"></i></span>
    					  <div class="media-body">
    					  	 <h5 class="mt-0">Correo</h5>
    					  	 <a href="mailto:lyvilli@grupotorreblanca.com"><span>lyvilli@grupotorreblanca.com</span></a>
    					  </div>
    				</div>    				
    				<div class="media mt-4">
    					<span class="mr-3" ><i class="hs fas fa-2x fa-mobile-alt"></i></span>
    					  <div class="media-body">
    					  	 <h5 class="mt-0">Teléfono</h5>
    					  	 <a href="tel:15568018701"><span>55 6801 8701</span></a>
    					  </div>
    				</div>    				
    				<div class="media mt-4">
    					<span class="mr-3" ><i class="hs fas fa-2x fa-address-card"></i></span>
    					  <div class="media-body">
    					  	 <h5 class="mt-0">vCard</h5>
    					  	 <a href="static/media/LydiaVillicaña.vcf"><span>Descargar</span></a>
    					  </div>
    				</div>
    			
    			</div>
    		
    		</div>
    	</div>
    </section>