
<section id="gallery">
<div class="container-fluid  mt-4">
	<h2 class="text-center" data-animation="zoomIn">Amenidades</h2>
		<div class="row baguetteBox">
			<div class="col-sm-6 col-md-4 col-lg-3 item">
				<a href="static/img/2-1.jpg" data-at-450="static/img/thumbs/2-1.jpg" data-at-800="static/img/small/2-1.jpg" data-at-1366="static/img/medium/2-1.jpg" data-at-1920="static/img/big/2-1.jpg" data-caption="<h2>Caption 1</h2><p>Tu crees</p>">
		            <img class="img-fluid img-thumbnail" src="static/img/thumbs/2-1.jpg" title="Esto es una prueba<br>Puto">
		        </a>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3 item">
				 <a href="static/img/2-2.jpg" data-at-450="static/img/thumbs/2-2.jpg" data-at-800="static/img/small/2-2.jpg" data-at-1366="static/img/medium/2-2.jpg" data-at-1920="static/img/big/2-2.jpg">
		            <img class="img-fluid img-thumbnail" src="static/img/thumbs/2-2.jpg" alt="alt texto" title="title aaaa">
		        </a>
			
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3 item">
				<a href="static/img/2-3.jpg" data-at-450="static/img/thumbs/2-3.jpg" data-at-800="static/img/small/2-3.jpg" data-at-1366="static/img/medium/2-3.jpg" data-at-1920="static/img/big/2-3.jpg">
		            <img class="img-fluid img-thumbnail" src="static/img/thumbs/2-3.jpg" alt="">
		        </a>
			
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3 item">
				<a href="static/img/2-4.jpg" data-at-450="static/img/thumbs/2-4.jpg" data-at-800="static/img/small/2-4.jpg" data-at-1366="static/img/medium/2-4.jpg" data-at-1920="static/img/big/2-4.jpg">
		            <img class="img-fluid img-thumbnail" src="static/img/thumbs/2-4.jpg" alt="">
		        </a>
			
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3 item">
				<a href="static/img/2-4.jpg" data-at-450="static/img/thumbs/2-4.jpg" data-at-800="static/img/small/2-4.jpg" data-at-1366="static/img/medium/2-4.jpg" data-at-1920="static/img/big/2-4.jpg">
		            <img class="img-fluid img-thumbnail" src="static/img/thumbs/2-4.jpg" alt="">
		        </a>
			
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3 item">
				<a href="static/img/2-4.jpg" data-at-450="static/img/thumbs/2-4.jpg" data-at-800="static/img/small/2-4.jpg" data-at-1366="static/img/medium/2-4.jpg" data-at-1920="static/img/big/2-4.jpg">
		            <img class="img-fluid img-thumbnail" src="static/img/thumbs/2-4.jpg" alt="">
		        </a>
			
			</div>
    </div><!-- End Row -->
</div>
</section >
