<header id="start">
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src= "static/media/Background.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <img src="/static/img/torreblanca.png" alt="Smiley face" height="145" width="400">
        <h5 class="mt-5">Planificando y mateializando el amor por tí y tu familia´</h5>
      </div>
    </div>
  </div>
</header>