<section class="mt-5" id="asesor">
<!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Heading -->
  <h2 class="my-4" data-animation="zoomIn">Lydia Villicaña
    <small>Agente de Seguros</small>
  </h2>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-6">
      <img class="img-fluid" src="static/img/lydia.jpg" alt="">
    </div>

    <div class="col-md-6">
      <h3 class="my-3">Me presento:</h3>
      <p>Especialista en Protección Familiar y Empresarial, basada en analizar las necesidades especificas de cada caso.</p>
      <p>Me respalda la certificación ante la Comisión Nacional de Seguros y Fianzas cédula C301029.</p>
		<p>Me caracteriza el buen trato y empatía con cada persona dando un servicio de calidad y confianza.</p>
		<p>Tengo 28 años resolviendo satisfactoriamente las necesidades de mis clientes.</p>
      <h3 class="my-3">Representante de:</h3>
      <a href="#">
            <img class="rounded mx-auto d-block" src="static/img/prudential_logo.png" alt="" style="width:70%;">
          </a>
          <p class="text-primary text-center"><b>Considerada como una institución de servicios financieros de clase mundial. 140 años nos respaldan.</b></p>
    </div>

  </div>
  <!-- /.row -->


</div>
</section>