<!-- Plans  section -->
<section id="prices">
<div class="container  mt-5">
	<h2 class="text-center" data-animation="zoomIn">Reflexione un momento sobre su futuro</h2>
<p class="text-center">Para llevar una vida sin preocupaciones es importante cubrir las siguientes necesidades.</p>		

	 <div class="swiper-container">
	 	<div class="swiper-wrapper">
	 		<div class="swiper-slide card" >
	 		<img class="card-img-top swiper-img" src="static/img/gastos_mensuales.jpg" alt="Card image cap">
	 			<div class="card-header bg-primary">
				    Gastos fijos mensuales
				 </div>
				  <div class="card-body">
				  <p >Si a usted, que es el principal sosténeconómico de su familia
				  le sucediera algo de lo peor.</p>
				  <p ><b>¿Quien se encargaría de cubrir los gastos?</b></p>
				  </div>
	 		</div>
	 		<div class="swiper-slide card" >
	 		<img class="card-img-top swiper-img" src="static/img/vivienda.jpg" alt="Card image cap">
	 			<div class="card-header bg-success">
				    Vivienda
				 </div>
				  <div class="card-body">
				  <p>Nadie desea perder el espacio íntimo que es su hogar.</p>
				  <p><b>¿Quién protegería su parimonio?</b></p>
				  </div>
	 		</div>
	 		<div class="swiper-slide card" >
	 		<img class="card-img-top swiper-img" src="static/img/educacion.jpg" alt="Card image cap">
	 			<div class="card-header bg-warning">
				    Educación
				 </div>
				  <div class="card-body">
				  <p>El mejor patrimonio que como padres podemos dejar a los hijos es la educación.</p>
				  <p><b>¿Permitiría que sus hijos abandonaran sus sueños hacia el futuro?</b></p>
				  </div>
	 		</div>
	 		<div class="swiper-slide card" >
	 		<img class="card-img-top swiper-img" src="static/img/eventos_especiales.jpg" alt="Card image cap">
	 			<div class="card-header bg-info">
				    Eventos Especiales
				 </div>
				  <div class="card-body">
				  <p>Un regalo que como padres podemos hacer a nuestros hijos 
				  es permitirles que reciban cada nueva etapa de la vida de la mejor manera posible.</p>
				  <p><b>¿Como le gustaría que sus hijos disfrutaran estas etapas?</b></p>
				  </div>
	 		</div>
	 		<div class="swiper-slide card" >
	 		<img class="card-img-top swiper-img" src="static/img/ayuda_a_padres.jpg" alt="Card image cap">
	 			<div class="card-header bg-danger">
				    Ayuda a los padres
				 </div>
				  <div class="card-body">
				  <p>Apoyar económicamente a los padres es sin duda una forma de retribuirles.</p>
				  <p><b>Si usted falta, ¿quién les ayudaría?</b></p>
				  </div>
	 		</div>
	 		
	 		<div class="swiper-slide card" >
	 		<img class="card-img-top swiper-img" src="static/img/jubilacion.jpg" alt="Card image cap">
	 			<div class="card-header bg-danger">
				    Jubilación
				 </div>
				  <div class="card-body">
				  <p>En la actualidad es necesario realizar los preparativos para una vejez digna.</p>
				  <p><b>¿Cómo le gustaría vivir después de su jubilación?</b></p>
				  </div>
	 		</div>
	 		
	 		<div class="swiper-slide card" >
	 		<img class="card-img-top swiper-img" src="static/img/gastos_medicos.jpg" alt="Card image cap">
	 			<div class="card-header bg-danger">
				    Cuidado de salud
				 </div>
				  <div class="card-body">
				  <p>Siempre se está expuesto a tener una afectación de salud que conlleve a una 
				  cirugía, hospitalización o padecer una enfermedad grave.</p>
				  <p><b>¿Contaría con los recursos necesarios?</b></p>
				  </div>
	 		</div>
	 		
	 		<div class="swiper-slide card" >
	 		<img class="card-img-top swiper-img" src="static/img/gastos_de_sucesion.jpg" alt="Card image cap">
	 			<div class="card-header bg-danger">
				    Gastos de sucesión
				 </div>
				  <div class="card-body">
				  <p>Las medidas para los gastos sucesorios, sin duda causarían un dolor de cabeza de sus deudos, 
				  asegúrese de dejar todo en ordén con anticipación.</p>
				  <p><b>Si usted faltara, ¿su familia podría solventar estos gastos?</b></p>
				  </div>
	 		</div>
	 		
	 		<div class="swiper-slide card" >
	 		<img class="card-img-top swiper-img" src="static/img/reserva_emergencia.jpg" alt="Card image cap">
	 			<div class="card-header bg-danger">
				   Reserva para emergencia
				 </div>
				  <div class="card-body">
				  <p>En la vida cotidiana suelen suceder acontecimientos imprevistos.</p>
				  <p><b>Si usted faltar, ¿su familia estaría preparada para una emergencia?</b></p>
				  </div>
	 		</div>
	 		<div class="swiper-slide card" >
	 		<img class="card-img-top swiper-img" src="static/img/ultimos_gastos.jpg" alt="Card image cap">
	 			<div class="card-header bg-danger">
				   Últimos gastos
				 </div>
				  <div class="card-body">
				  <p>En caso de llegar a necesitar a u tratamiento para una enfermedad terminal por un periodo 
				  prolongado o si llega a fallecer.</p>
				  <p><b>¿Usted o su familia podrían solventar los gastos?</b></p>
				  </div>
	 		</div>
	 	</div>
	 	<div class="swiper-pagination"></div>
	 </div>
</div>
</section >