<!-- Plans  section -->
<section id="prices">
<div class="container  mt-4">
	<h2 class="text-center" data-animation="zoomIn">Planes</h2>
	 <div class="swiper-container">
	 	<div class="swiper-wrapper">
	 		<div class="swiper-slide card" >
	 			<div class="card-header bg-primary">
				    Featured
				 </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item">Cras justo odio</li>
				    <li class="list-group-item">Dapibus ac facilisis in</li>
				    <li class="list-group-item">Vestibulum at eros</li>
				  </ul>
	 		</div>
	 		<div class="swiper-slide card" >
	 			<div class="card-header bg-success">
				    Featured
				 </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item">Cras justo odio</li>
				    <li class="list-group-item">Dapibus ac facilisis in</li>
				    <li class="list-group-item">Vestibulum at eros</li>
				  </ul>
	 		</div>
	 		<div class="swiper-slide card" >
	 			<div class="card-header bg-warning">
				    Featured
				 </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item">Cras justo odio</li>
				    <li class="list-group-item">Dapibus ac facilisis in</li>
				    <li class="list-group-item">Vestibulum at eros</li>
				  </ul>
	 		</div>
	 		<div class="swiper-slide card" >
	 			<div class="card-header bg-info">
				    Featured
				 </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item">Cras justo odio</li>
				    <li class="list-group-item">Dapibus ac facilisis in</li>
				    <li class="list-group-item">Vestibulum at eros</li>
				  </ul>
	 		</div>
	 		<div class="swiper-slide card" >
	 			<div class="card-header bg-danger">
				    Featured
				 </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item">Cras justo odio</li>
				    <li class="list-group-item">Dapibus ac facilisis in</li>
				    <li class="list-group-item">Vestibulum at eros</li>
				  </ul>
	 		</div>
	 	</div>
	 	<div class="swiper-pagination"></div>
	 </div>
</div>
</section >