<section class="mt-5" id="timeline">
	<div class="container mt-4">
	<h2 class="text-center" data-animation="zoomIn">Beneficios de contar con un seguro</h2>
		<div class="row mb-4">
			<div class="col-md-12">
			<p>A medida que pasan los años y <b>tenemos diferentes compromisos</b> familiares y laborales, es importante plantearse posibles escenarios a futuro y tener en cuenta los riesgos a los que estamos expuestos. En México estamos fomentando la cultura de asegurarse con excelentes productos de proteccion, al alcance de todos. Estos son <b>algunos de los beneficios</b> de estos productos:</p>
			</div>
		</div>
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <a href="#" class="timeline">
                            <div class="timeline-icon" ><i class="fas fa-smile-wink" data-animation="rotateIn" ></i></div>
                            <div class="timeline-content">
                                <h3 class="title" data-animation="slideInRight">Te libera de preocupaciones</h3>
                                <p class="description">
                                    En caso de que surja un accidente o imprevisto, la parte financiera no será un problema para ti, ya que estarás cubierto. Tu patrimonio estará seguro.
                                </p>
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fas fa-hand-holding-medical" data-animation="rotateIn"></i></div>
                            <div class="timeline-content">
                                <h3 class="title" data-animation="slideInRight">La salud ante todo</h3>
                                <p class="description">
                                    Asegurar tu salud es una de las mejores cosas que puedes hacer por tu bienestar físico y mental, para estar respaldado en caso de enfermedad o accidente.
                               </p>
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fas fa-laptop-house" data-animation="rotateIn"></i></div>
                            <div class="timeline-content">
                                <h3 class="title" data-animation="slideInRight">Los seguros cuidan tus bienes</h3>
                                <p class="description">
                                    Tener una casa o automóvil cuesta mucho sacrificio. Si contratas un seguro que proteja estos bienes, estás cuidando tu propiedad y tu trabajo de años.
                                 </p>
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fas fa-road" data-animation="rotateIn"></i></div>
                            <div class="timeline-content">
                                <h3 class="title" data-animation="slideInRight">El seguro te da libertad</h3>
                                <p class="description">
                                   Muchas veces evitamos algunas situaciones por miedo a descuidar nuestros bienes o nuestra salud. Sin contamos con un seguro, podemos ser libres.
                               </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</section>