<html>
    <head>
        {% if title %}
        <title>{{ title }} - Wolf Landing Page</title>
        {% else %}
        <title>landing page</title>
        {% endif %}
      <link rel="stylesheet" href="static/css/bootstrap.min.css" /> 
       <!--   <link rel="stylesheet" href="static/css/wolf-theme.css" /> -->
        <link rel="stylesheet" href="static/css/all.min.css" />
        <link rel="stylesheet" href="static/css/animate.min.css" />
        <link rel="stylesheet" href="static/css/baguetteBox.css" />
        <link rel="stylesheet" href="static/css/wolf.css" />
    </head>
    <body>
	    {% if title.startswith('Gracias') %}
	    <script>
		  fbq('track', 'Lead');
		</script>
    {% endif %} 
        {% block content %}{% endblock %}
        
        

        <footer>
        
        </footer>
        <script src="static/js/jquery-3.4.1.min.js"></script>
        <script src="static/js/popper.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
		 <script src="static/js/wolf.js"></script>
</body>
</html>