<html>
    <head>
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>microblog</title>
        {% endif %}
      <link rel="stylesheet" href="static/css/bootstrap.min.css" /> 
       <!--   <link rel="stylesheet" href="static/css/wolf-theme.css" /> -->
        <link rel="stylesheet" href="static/css/all.min.css" />
        <link rel="stylesheet" href="static/css/animate.min.css" />
        <link rel="stylesheet" href="static/css/baguetteBox.css" />
        <link rel="stylesheet" href="static/css/wolf.css" />
    </head>
    <body>
    <nav class="navbar nav-wolf base-wolf">
    	<ul class="navbar-nav">
    		<li class="nav-item"><a class="nav-link" href="#start"><i class="fas fa-2x fa-home item-wolf"></i> <span >Inicio</span></a></li>
    		<li class="nav-item"><a class="nav-link"  href="#servicios"><i class="fas fa-2x fa-tasks item-wolf"></i><span > Servicios</span></a></li>
    		<li class="nav-item"><a class="nav-link"  href="#amenidades"><i class="fas fa-2x fa-couch item-wolf"></i><span > Amenidades</span></a></li>
    		<li class="nav-item"><a class="nav-link"  href="#planes"><i class="fas fa-2x fa-money-check-alt item-wolf"></i><span > Planes</span></a></li>
    		<li class="nav-item"><a class="nav-link"  href="#mapa"><i class="fas fa-2x fa-map-marker-alt item-wolf"></i><span > Ubicación</span></a></li>
    		<li class="nav-item"><a class="nav-link"  href="#contacto"><i class="fas fa-2x fa-envelope item-wolf"></i><span > Contacto</span></a></li>
    	</ul>
    </nav>
        {% block content %}{% endblock %}
        
        
        <div class="st-event-actionContainer right-bottom">
        	<div class="st-event-panel">
				<div class="st-event-panel-header"><i class="fa fa-bars" aria-hidden="true"></i> Menu</div>
				<div class="st-event-panel-contents">
					Put menu or icon links here!<br /><br />
					Or make a grid:
				</div>
				<div class="grid">
						<a href="#" class="gridChild"><i class="fa fa-cubes" aria-hidden="true"></i></a>
						<a href="#" class="gridChild"><i class="fa fa-database" aria-hidden="true"></i></a>
						<a href="#" class="gridChild"><i class="fa fa-send" aria-hidden="true"></i></a>
						<a href="#" class="gridChild"><i class="fa fa-tag" aria-hidden="true"></i></a>
						<a href="#" class="gridChild"><i class="fa fa-trophy" aria-hidden="true"></i></a>
						<a href="#" class="gridChild"><i class="fa fa-user" aria-hidden="true"></i></a>
						<a href="#" class="gridChild"><i class="fa fa-file" aria-hidden="true"></i></a>
						<a href="#" class="gridChild"><i class="fa fa-table" aria-hidden="true"></i></a>
						<a href="#" class="gridChild"><i class="fa fa-eject" aria-hidden="true"></i></a>
					</div>        		
        	</div>
        	<div class="st-event-btn-container right-bottom">
				<div class="st-event-button-main"><i class="fa fa-bars" aria-hidden="true"></i></div>
			</div>
        </div>
        <footer>
        
        </footer>
        <script src="static/js/jquery-3.4.1.min.js"></script>
        <script src="static/js/popper.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/baguetteBox.min.js"></script>
		 <script src="static/js/wolf.js"></script>
		<script>
			$(".nav-wolf").hover(function(){
				wolfNav();
			});
			baguetteBox.run('.baguetteBox', {captions: true, overlayBackgroundColor:'rgba(255,0,0,0.8)', fullScreen: true});
		</script>
</body>
    </body>
</html>